<!DOCTYPE html>
<html>
<head>
  <title>Positions</title>
  <style>
    table {
      border-collapse: collapse;
      width: 100%;
    }
    th, td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }
  </style>
</head>
<body>
  <h1>Positions{{title}}</h1>
  <div id="table-1">
    <table>
      <thead>
        <tr>
          {{!-- {{#each data.[0]}}
            <th>{{@key}}</th>
          {{/each}} --}}
            <th>Stock</th>
            <th>Name</th>
            <th># Shares</th>
            <th>Book Value</th>
            <th>CAD Value</th>
            <th>Average Price</th>
            <th>Yield</th>
            <th>Dividend</th>
            <th>15% Withholding</th>
            <th>Frequency</th>
            <th>Payment</th>
            <th>Current Price</th>
            <th>DRIP</th>
            <th>DRIP Req</th>
            <th>DRIP Remaining</th>
            <th>Shares Req</th>
            <th>Remaining Shares Req</th>
            <th>Annual Income</th>
        </tr>
      </thead>
      <tbody id="table-body">
        {{#each positions}}
          <tr>
            {{!-- {{#each this}}
              <td>{{this}}</td>
            {{/each}} --}}
              <td>{{this.symbol}}</td>
              <td>-</td>
              <td>{{this.openQuantity}}</td>
              <td>{{this.totalCost}}</td>
              <td>-</td>
              <td>{{this.averageEntryPrice}}</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
              <td>-</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</body>
</html>