<!DOCTYPE html>
<html>
<head>
  <title>Positions</title>
  <style>
    table {
      border-collapse: collapse;
      width: 100%;
    }
    th, td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }
  </style>
</head>
<body>
  <h1>Positions</h1>
  <h2>Canadian Stocks</h2>
  <table id='cad-table'>
    <thead>
      <tr>
          <th>Stock</th>
          <th>Name</th>
          <th># Shares</th>
          <th>Book Value (CAD)</th>
          <th>Average Price</th>
          <th>Yield</th>
          <th>Dividend</th>
          <th>Frequency</th>
          <th>Payment</th>
          <th>Current Price</th>
          <th>DRIP</th>
          <th>DRIP Req</th>
          <th>DRIP Remaining</th>
          <th>Shares Req</th>
          <th>Remaining Shares Req</th>
          <th>Annual Income</th>
      </tr>
    </thead>
    <tbody>
      {{#each positions}}
        <tr>
            <td>{{this.symbol}}</td>
            <td>-</td>
            <td>{{this.openQuantity}}</td>
            <td>{{formatCurrency this.totalCost}}</td>
            <td>{{formatCurrency this.averageEntryPrice}}</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  <h2>U.S. Stocks</h2>
  <table id='usd-table'>
    <thead>
      <tr>
          <th>Stock</th>
          <th>Name</th>
          <th># Shares</th>
          <th>Book Value (USD)</th>
          <th>Book Value (CAD)</th>
          <th>Average Price</th>
          <th>Yield</th>
          <th>Dividend</th>
          <th>15% Withholding</th>
          <th>Frequency</th>
          <th>Payment</th>
          <th>Current Price</th>
          <th>DRIP</th>
          <th>DRIP Req</th>
          <th>DRIP Remaining</th>
          <th>Shares Req</th>
          <th>Remaining Shares Req</th>
          <th>Annual Income</th>
      </tr>
    </thead>
    <tbody>
      {{#each positions}}
        <tr>
            <td>{{this.symbol}}</td>
            <td>-</td>
            <td>{{this.openQuantity}}</td>
            <td>{{formatCurrency this.totalCost}}</td>
            <td>-</td>
            <td>{{formatCurrency this.averageEntryPrice}}</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</body>
</html>